@inherits LayoutComponentBase

<NavMenu />

<div class="main flex-shrink-0">
    <div class="content px-4">
        @Body
    </div>
</div>

<footer class="footer mt-auto">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Svg To Tvg Converter</h5>
            <p class="card-text">Made by <a href="https://lyze.dev">Lyze.Dev</a> - &copy;2022</p>
        </div>
    </div>
</footer>